<h1><%= @cocktail.name %></h1>
<p>What will you need for this refreshing cocktail:
  <% if @cocktail.photo %>
    <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
  <% end %>
</p>
<% if @cocktail.doses.empty? %>
  <p>no ingredients yet, this is gonna be a dry cocktail...</p>
<% end %>
<ul style='list-style-type: none'>
<% @cocktail.doses.each do |dose| %>
  <li> <%= dose.description %> of
  <%= dose.ingredient.name %>
    <%= link_to 'remove', dose_path(dose), { method: :delete, class: 'btn btn-danger' } %>
  </li>
<% end %>
</ul>
<p>Add an ingredient to spice up your cocktail:</p>
<%= render 'doses/form' %>
<ul>
<% @cocktail.reviews.each do |review| %>
<li><%= review.rating %> stars: <%= review.content %></li>
<% end %>
</ul>
<%= link_to 'add review', new_cocktail_review_path(@cocktail), {class: 'btn btn-success'} %>
