<h1><%= @cocktail.name %></h1>
<p>What will you need for this refreshing cocktail: </p>
<% if @cocktail.doses.empty? %>
  <p>no ingredients yet, this is gonna be a dry cocktail...</p>
<% end %>
<ul>
<% @cocktail.doses.each do |dose| %>
  <li> <%= dose.description %>
  <%= dose.ingredient.name %>
    <%= link_to 'remove ingredient', dose_path(dose), { method: :delete, class: 'btn btn-danger' } %>
  </li>
<% end %>
</ul>
<ul class='list-inline'>
<li><%= link_to 'add an ingredient', new_cocktail_dose_path(@cocktail), { class: 'btn btn-success' } %></li>
</ul>
